*{
    /* Assigns all elements to use box model sizing
    (margin/border/padding no longer added on top of specified width/height) */
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html {
    /* Setting a base font size of 10px give us easier rem calculations
       Info: 1rem === 10px, 1.5rem === 15px, 2rem === 20px and so forth*/
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
}

body{
    background-color: #fff;
    margin: 0;
    
}

/* Headings */
h1,
h2,
h3,
h4,
h5{
    /* font-family: 'Bangers', cursive; */
    letter-spacing: 0.2rem;
    margin: 0.7rem 0;
}

h1{
    font-size: 2rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.75rem;
}
h4{
    font-size: 1.5rem;
}

#topBar{
    background-color: #edf2f4;
    position: fixed;
    width: 100%;
    min-height: 50px;
    box-shadow: 0 0 4px #888;
    display: flex;
    align-items: center;
}

#titleHolder{
    width:50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav{
    width:50%;
    display: flex;
    justify-content: flex-end;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

nav a{
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
}

#container{
    background-color: #e5e5e5;
    max-width: 98%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

header,
footer{
    background-color: #457b9d;
}

section{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 2%;
}

.column{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    text-align: center;
    padding: 1% 0;
}

.singleColumn{
    width:100%;
}
.doubleColumn{
    width: 50%;
}
.tripleColumn{
    width: 33%;
}

.contentArea{
    /* background-color: #e63946; */
    display: flex;
    flex-direction: column;
    justify-content: center;
} 

/* Clear margins from inline elements */
h1,
h3,
p{
    margin: 0;
}

/* hero section */
#hero input{
    width:80%;
    height: 30px;
    margin: 5%;
    text-align:center;
}

/* features section */
#features{
    flex-wrap: wrap;
}
.row{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}
.leftColumn{
    width: 40%;
    justify-content: flex-end;
}
.rightColumn{
    width: 60%;
    justify-content: flex-start;
}
.rightColumn .contentArea{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

/* product section */
#products .contentArea{
    border-radius: 5px;
    width: 50%;
    height: 300px;
    justify-content: space-around;
}
#redSaber{
    box-shadow: 0 0 10px #F00;
}
#blueSaber{
    box-shadow: 0 0 10px rgb(0, 153, 255);
}
#purpleSaber{
    box-shadow: 0 0 10px rgb(174, 0, 255);
}

@media only screen and (max-width: 780px) {
    #products{
      flex-direction: column;
    }
    #products .column{
        width: 100%;
    }
    .rightColumn{
        width:60%;
    }

  }

/* 
TO DO
Add footer
include logos/images
select a font
review spacing
*/