@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
    /* Assigns all elements to use box model sizing
    (margin/border/padding no longer added on top of specified width/height) */
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
i { 
    font-family: 'FontAwesome', sans-serif; 
}
html {
    /* Setting a base font size of 10px give us easier rem calculations
       Info: 1rem === 12px, 1.5rem === 18px, 2rem === 24px and so forth*/
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
}

body{
    background-color: #fff;
    margin: 0;
    
}

/* Headings */
h1,
h2,
h3,
h4,
h5{
    letter-spacing: 0.2rem;
    margin: 0.7rem 0;
}

h1{
    font-size: 2rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.75rem;
    margin-bottom: 0.3em;
}
h4{
    font-size: 1.5rem;
}

#topBar{
    background-color: #edf2f4;
    position: fixed;
    width: 100%;
    min-height: 50px;
    box-shadow: 0 0 4px #888;
    display: flex;
    align-items: center;
}

#titleHolder{
    width:50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav{
    width:50%;
    display: flex;
    justify-content: flex-end;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

nav a{
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
}

#container{
    background-color: #e5e5e5;
    max-width: 98%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

section{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 2% 0;
}

.column{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    text-align: center;
    padding: 1% 0;
}

.singleColumn{
    width:100%;
}
.doubleColumn{
    width: 50%;
}
.tripleColumn{
    width: 33%;
}

.contentArea{
    /* background-color: #e63946; */
    display: flex;
    flex-direction: column;
    justify-content: center;
} 

/* Clear margins from inline elements */
h1,
h3,
h4,
p{
    margin: 0;
}

h1{
    margin-left: 3%;
}

/* hero section */
#hero input,
button{
    width:80%;
    height: 30px;
    margin: 5%;
    text-align:center;
}

/* features section */
#features{
    flex-wrap: wrap;
}
.row{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 2%;
}
.leftColumn{
    width: 40%;
    justify-content: flex-end;
}
.leftColumn .contentArea{
    padding-right: 8%;
}
.rightColumn{
    width: 60%;
    justify-content: flex-start;
}
.rightColumn .contentArea{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    width: 75%;
}
i{
    color: #a40000;
}

/* see it in action section */
#seeItInAction .contentArea{
    width: 75%;
}
#seeItInAction > iframe {
    max-width: 560px;
    width: 100%;
}

/* product section */
#products .contentArea{
    border-radius: 5px;
    width: 80%;
    height: 400px;
    justify-content: space-around;
    box-shadow: 0 0 10px #555;
}
#redSaber:hover{
    box-shadow: 0 0 20px #F00;
}
#blueSaber:hover{
    box-shadow: 0 0 20px rgb(0, 153, 255);
}
#purpleSaber:hover{
    box-shadow: 0 0 20px rgb(174, 0, 255);
}
button{
    text-transform: uppercase;
}

@media only screen and (max-width: 780px) {
    #products{
      flex-direction: column;
    }
    #products .column{
        width: 100%;
    }
    .rightColumn{
        width:60%;
    }
    h1{
        font-size:1rem;
    }
    #topBar{
        flex-direction: column;
        flex-wrap: wrap;
    }
    nav ul{
        text-align: center;
        flex-direction: column;
    }
    nav ul li{
        padding: 10px 0;
    }
    #hero{
        margin-top: 120px;
    }

}

footer{
    margin-top:2%;
}
footer > ul {
    display: flex;
    justify-content: flex-end;
}
footer > ul > li {
    padding: 0 10px;
    list-style: none;
}
footer a {
    color: #000;
    text-decoration: none;
}

footer > p {
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
    color: #444;
}